<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog django</title>
</head>
<body>

    <h1><strong> <a href="/">Django Blog</a></strong></h1>
    
    {% for post in posts %}

        <div>
            <h3><a href="/">{{post.title}}</a></h3>
            <p>{{ post.text }}</p> <!--|linebreaksbr está pasando el texto de los post a través de un filtro para convertir saltos de línea en párrafos.-->
            <p>Publicado: {{post.published_date}}</p>
        </div>

    {%endfor%}

</body>
</html>